{% extends "base.html" %}

{% block title %}Sketches{% endblock %}

{% block content %}
    <h1 class="title">Sketches</h1>
    <div class="sketch_list">
    {% for sketch in list_sketches %}
	    <div class="sketch">
                <p id="sketch_title">{{ sketch.title }}</p>
                <img id="sketch_image" src="{{ sketch.sketch_image.url }}"/>
		{% comment %}
                <a id="sketch_comment" href="{% url 'comment_sketch' sketch.title %}">Comment</a>
		{% endcomment %}
		{% comment %}
                <a id="sketch_comment_bis" href="{% url 'sketch_comment' sketch.item_type sketch.title %}">Sketch Comment</a>
		{% endcomment %}
		{% comment %}
		<a id="sketch_comment_bis" href="{% url 'sketch_comment' item_type sketch.title %}">Sketch Comment</a>
		{% endcomment %}
		{% comment %}
		<span>{% item.type %} </span>
		{% endcomment %}
		{% comment %}
                <a id="sketch_comment_bis" href="{% url 'sketch_comment' sketch.type %}">Sketch Comment</a>
		{% endcomment %}
		{% comment %}
                <a id="sketch_comment_bis" href="{% url 'sketch_comment' sketch.title %}">Sketch Comment</a>
		{% endcomment %}

	    </div>
    {% endfor %}
    </div>
{% endblock %}
