{% extends "base.html" %}
{% block title  %}Nuances Project | Stories{% endblock %}
{% block content %}
    <h1 class="title"> Stories's list </h1>
    <div class="story_list">
    {% for story in list_stories %}
        <p class="story">
            <a class="story_list_link" href="{% url "show_story" story.title %}">
                <p class="story_title">{{ story.title }}</p>
                <img src="{{ story.cover_page.url }}"/>
            </a>

	    {% comment %}
            <a class="comment_story" href="{% url 'comment_story' story.title %}">Comment</a>
	    {% endcomment %}
	</p>
    {% endfor %}
    </div>
{% endblock %}
